:root {
    --colourTextMain: black;

    --colourBgMain: white;
    --colourBgSecondary: rgb(39, 53, 74);
    --colourBgTertiary: rgb(234, 80, 71);

    --fontMain: Arial, Helvetica, sans-serif;
    --fontHeader: Tahoma, sans-serif;
    --fontHeaderBig: 'Arial Narrow', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);    
}

header {
    display: flex;
    flex-flow: row wrap;
    color: var(--colourBgMain);
    background-color: var(--colourBgSecondary);
    font-family: var(--fontHeader);
    font-weight: normal;
}
.logo {
    float: left;
    text-indent: 1rem;
    padding-right: 20px;
    background-color: var(--colourBgTertiary);
    padding-top: 10px;
    padding-bottom: 13px;
}
.header {
    font-size: 1.5rem;
    padding: 0.315rem;
    padding-left: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--colourBgMain);
    background-color: var(--colourBgSecondary);
    padding: 0.25rem;
}
footer > p {
    margin: 0;
}

/* Block classes */
.boxed { 
    border: thin solid var(--colourTextMain); 
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin: 0.5rem;
    margin-bottom: 0;
}

/* Inline classes */
.big {
    font-size: 1.4em;
    font-family: var(--fontHeaderBig);
    font-weight: bold;
}
.little {
    font-size: 0.7em;
}
.italics {
    font-style: italic;
}

/* Bootstrap elements */
.modal-header {
    color: var(--colourBgMain);
    background-color: var(--colourBgSecondary);
}
#modalMovies {
    padding: 0 1.5rem;
}